apiVersion: kubeadm.k8s.io/v1beta2
cgroupDriver: systemd
kubernetesVersion: 1.20.4
kind: ClusterConfiguration
controlPlaneEndpoint: "192.168.50.117:6443"
apiServer:
  extraArgs:
    experimental-encryption-provider-config: /home/k8sadmin/encryption-config.yaml
    advertise-address: 0.0.0.0
etcd:
  external:
    endpoints:
    - https://192.168.50.240:2379
    caFile: /etc/etcd/ca.pem
    certFile: /etc/etcd/k8s-master.pem
    keyFile: /etc/etcd/k8smasterkey.pem
networking:
  podSubnet: 10.240.0.0/16
